<header class="header">
  <div class="wrapper">
    <div class="title">HN Feed</div>
    <div class="subtitle">We &#60;3 hacker news!</div>
  </div>
</header>
<main>
  <div class="wrapper">
    <ul class="article-list">
      <li class="article-item" [ngClass]="{'pointer': hasUrl(art)}" *ngFor="let art of articles" (click)="goToURL(art)" >
        <span>
          <span *ngIf="art.story_title; else showTitle">{{art.story_title}}</span>
          <ng-template #showTitle>{{art.title}}</ng-template>
          <span class="txt-grey"> - {{art.author}} - </span>
        </span>
        <span>
          <span>{{art.created_at | dateFormat}}</span>
          <span class="delete-icon" (click)="deleteArticle(art._id,$event)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
          </span>
        </span>
      </li>
    </ul>
  </div>
</main>

<router-outlet></router-outlet>
